body, .container {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  border-bottom: solid 2px #25a555; }
  .header ul {
    width: 55.28em;
    height: auto;
    display: inline-block;
    position: relative;
    float: right;
    margin: 0; }
    .header ul li {
      float: left;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.1em;
      font-weight: 300;
      margin: 0; }
      .header ul li a {
        padding: 1.9em 2em;
        display: block;
        color: #555;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        border: solid 1px transparent; }
        .header ul li a:hover {
          color: #fff;
          border: solid 1px #25a555;
          background-color: #25a555;
          text-decoration: none; }
      .header ul li:nth-child(4) {
        height: 28px !important; }
    .header ul li#searchBarMargin {
      margin-top: 1.85em;
      margin-left: 15px;
      height: 28px;
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 300; }
      .header ul li#searchBarMargin form .input-group {
        width: 14em; }
        .header ul li#searchBarMargin form .input-group .form-control.search {
          width: 100%;
          height: 28px; }
  .header #logo {
    width: 163px;
    height: 65px;
    display: inline-block;
    position: relative;
    margin: 0.5em 0;
    float: left;
    background-image: url("../images/logo.png");
    background-size: 163px 65px;
    margin-left: 3%; }

.about {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative; }
  .about #aboutus {
    width: 62.5em;
    height: 12.5em;
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center; }
    .about #aboutus h1 {
      color: #25a555;
      font-family: "Ubuntu", sans-serif;
      font-size: 3em;
      font-weight: 700;
      padding: 0;
      line-height: 0.5em; }
    .about #aboutus span {
      color: #25a555;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5em;
      font-weight: 300; }

.main-content {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin-top: 5em; }
  .main-content .goalsect {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center; }
    .main-content .goalsect #goalsect {
      width: 75em;
      height: auto;
      display: table;
      position: relative;
      margin: 0 auto; }
      .main-content .goalsect #goalsect h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 3em;
        font-weight: 700;
        padding: 0; }
      .main-content .goalsect #goalsect span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.2em;
        font-weight: 300; }
  .main-content .pics {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 3em; }
  .main-content .team {
    width: 71.875em;
    height: auto;
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center; }
    .main-content .team #monreal {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em; }
      .main-content .team #monreal img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #monreal h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #monreal span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
    .main-content .team #valero {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em; }
      .main-content .team #valero img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #valero h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #valero span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
    .main-content .team #estrella {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em; }
      .main-content .team #estrella img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #estrella h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #estrella span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
    .main-content .team #cruz {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em;
      margin-top: 3em; }
      .main-content .team #cruz img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #cruz h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #cruz span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
    .main-content .team #luna {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em;
      margin-top: 3em; }
      .main-content .team #luna img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #luna h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #luna span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
    .main-content .team #basco {
      width: 13.125em;
      height: 18.75em;
      display: inline-block;
      position: relative;
      float: left;
      margin-left: 5em;
      margin-right: 5em;
      margin-top: 3em; }
      .main-content .team #basco img {
        width: 12em;
        height: 12em;
        display: table;
        position: relative;
        margin: 0 auto;
        border-radius: 400em;
        background-color: #25a555; }
      .main-content .team #basco h1 {
        color: #25a555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5em;
        font-weight: 700;
        padding: 0; }
      .main-content .team #basco span {
        color: #555;
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
  .main-content .join {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 10em; }
    .main-content .join h1 {
      color: #25a555;
      font-family: "Ubuntu", sans-serif;
      font-size: 3em;
      font-weight: 300; }
    .main-content .join a {
      clear: both;
      width: 155px;
      height: auto;
      display: block;
      position: relative;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      margin: 2em auto;
      overflow: hidden;
      padding: 0.3em 2em;
      border: solid 1px #25a555;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      -o-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s;
      color: #25a555; }
      .main-content .join a:hover {
        text-decoration: none;
        background-color: #25a555;
        color: #fff; }

.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  padding: 0;
  background-color: #25a555;
  color: #fff !important; }
  .footer .items {
    width: auto;
    height: auto;
    display: table;
    position: relative;
    margin: 1% auto; }
    .footer .items ul {
      width: auto;
      height: auto;
      display: table;
      position: relative;
      float: left;
      margin: 0 3em; }
      .footer .items ul li {
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
        .footer .items ul li hr {
          width: 3%;
          margin: 0; }
        .footer .items ul li a {
          color: #fff;
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 300; }
        .footer .items ul li h1 {
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 700; }
        .footer .items ul li .social-media-icon {
          width: 35px;
          height: 35px;
          background-size: 35px;
          display: block;
          background-color: #ddd;
          margin: 0.3em 0; }
          .footer .items ul li .social-media-icon span {
            display: block;
            margin-left: 40px;
            position: relative;
            top: 7px; }
        .footer .items ul li #smi1 {
          background-image: url("../images/fb.jpg"); }
        .footer .items ul li #smi2 {
          background-image: url("../images/tw.jpg"); }
        .footer .items ul li #smi3 {
          background-image: url("../images/gp.jpg"); }
  .footer .bottom-footer {
    margin-top: 1em;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    font-weight: 300; }
    .footer .bottom-footer a {
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 700;
      color: #fff; }

/*# sourceMappingURL=about.css.map */
