@import 'defaultsheet.sass'



.about
	+default_style(100%,auto)
	#aboutus
		+default_style(62.5em,12.5em,table)
		margin: 0 auto
		text-align: center
		
		h1
			color: $blue
			+bold(3em)
			padding: 0
			line-height: .5em

		span
			color: $blue
			+light(1.5em)

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style]
	min-width: 100% !important
	width: 100% !important


.main-content
	+default_style(100%,auto)
	.goalsect
		+default_style(100%,auto)
		text-align: center
		#goalsect
			+default_style(75em,auto,table)
			margin: 0 auto
			h1
				color: $blue
				+bold(3em)
				padding: 0
			span
				color: $black
				+light(1.2em)
	#sect1
		+default_style(100%,529px)
		padding: 1% 0
		background-color: #121212
		margin-top: 0
		#img1
			+default_style(917px,517px)
			float: right
			background-image: url('../images/about_image2.png')
			z-index: 1
		.desc
			+default_style(550px,auto,inline-block,absolute)
			// background-color: #ddd
			+light(1em)
			z-index: 2
			left: 2%	
			top: 5em
			color: #fff
			h1
				+bold(4em)
				padding: 0
				color: $blue
			a
				padding: 1em 2em
				color: $blue			
				display: table
				margin: 2em auto
				border: solid 1px $blue
				+animation
				&:hover
					background-color: $blue
					color: #fff
			span
				font-size: 1.3em
	.goals
		+default_style(100%,auto)
		+light(1.3em)
		text-align: center
		h1
			+bold(3em)
			color: $blue
		span
			width: 85%
			display: inline-block

	.pics
		+default_style(100%,auto)
		margin-top: 0
		padding: 4em 0
		text-align: center
		h1
			+bold(4em)
			color: $blue
		.item-container
			+default_style(100%,auto)
			// background-color: #aaa
			.items
				+default_style(auto,auto,inline-block)
				// background-color: #ddd
				margin: 1% 2%
				h1
					padding: 0
					margin: 0
					margin-top: 1em
					+bold(2.5em)
					color: $blue
				span
					+light(1em)
				.members-image
					+default_style(300,300,inline-block)
					// background-color: #888
					border-radius: 100em
					// border: solid 1px #ddd
				#mem1
					background-image: url('../images/about/1.jpg')
				#mem2
					background-image: url('../images/about/2.jpg')
				#mem3
					background-image: url('../images/about/3.jpg')
				#mem4
					background-image: url('../images/about/4.jpg')
				#mem5
					background-image: url('../images/about/5.jpg')
				#mem6
					background-image: url('../images/about/6.jpg')

				






	.join
		+default_style(100%,auto)
		text-align: center
		margin-top: 2em
		h1
			color: $blue
			+light(3em)
		a
			clear: both
			+default_style(155px,auto,block)
			+light(1.5em)
			margin: 2em auto
			overflow: hidden
			padding: .5em 2em
			border: solid 1px $blue
			+animation
			color: $blue
			&:hover
				text-decoration: none
				background-color: $blue
				color: #fff
	.feedback
		+default_style(100%,auto)
		background-color: $blue
		padding: 2%
		border-bottom: solid 1px #fff
		div
			float: left
		.firstHalf
			+default_style(40%,auto)
			color: #fff
			h1
				+bold(3em)
				margin: 0
			span
				color: #fff
		.secondHalf
			+default_style(59%,300px)
			background-color: #fff
			margin-left: .9%

