body, .container {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.container {
  overflow-y: hidden; }

.loader {
  width: 100%;
  height: 1vh;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 34vh; }
  .loader img {
    display: inline-block; }
  .loader h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    font-weight: 300; }

.header {
  width: 100%;
  height: 81px;
  display: inline-block;
  position: relative;
  border-bottom: solid 2px #25a555; }
  .header .menu {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: #ddd;
    z-index: 10;
    float: right; }
  .header #menuicon-container {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1em;
    float: right;
    margin-top: 1em;
    padding: 1em;
    margin-right: 2%;
    cursor: pointer;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    border: solid 1px transparent; }
    .header #menuicon-container:hover {
      border: solid 1px #25a555; }
    .header #menuicon-container:hover #menuicon {
      background-image: url("../images/menu1.png"); }
    .header #menuicon-container #menuicon {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      position: relative;
      background-image: url("../images/menu.png");
      background-size: 1.5em;
      background-repeat: no-repeat;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      -o-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s; }
  .header ul {
    width: 55.28em;
    height: auto;
    display: inline-block;
    position: relative;
    float: right;
    margin: 0; }
    .header ul li {
      float: left;
      font-family: "Ubuntu", sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      margin: 0; }
      @media screen and (max-width: 990px) {
        .header ul li {
          font-family: "Ubuntu", sans-serif;
          font-size: 0.9em;
          font-weight: 300; } }
      .header ul li a {
        padding: 2.4em 2.3em;
        display: block;
        color: #444;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        border: solid 1px transparent; }
        .header ul li a:hover {
          color: #fff;
          border: solid 1px #25a555;
          background-color: #25a555;
          text-decoration: none; }
      .header ul li:nth-child(4) {
        height: 28px !important; }
    .header ul li#searchBarMargin {
      margin-top: 1.85em;
      margin-left: 15px;
      height: 28px;
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 300; }
      .header ul li#searchBarMargin form .input-group {
        width: 14em; }
        .header ul li#searchBarMargin form .input-group .form-control.search {
          width: 100%;
          height: 28px; }
  .header #logo {
    width: 163px;
    height: 65px;
    display: inline-block;
    position: relative;
    margin: 0.5em 0;
    float: left;
    background-image: url("../images/logo.png");
    background-size: 163px 65px;
    margin-left: 3%; }

.slider {
  width: 100%;
  height: 500px;
  display: inline-block;
  position: relative;
  background-color: #ddd; }
  .slider #myCarousel {
    width: 100%;
    height: 500px;
    display: inline-block;
    position: relative; }
    .slider #myCarousel .carousel-inner .item {
      width: 100%;
      height: 500px;
      background-size: 100%; }
      .slider #myCarousel .carousel-inner .item:nth-child(1) {
        background-image: url("../images/slide/slide1.jpg"); }
      .slider #myCarousel .carousel-inner .item:nth-child(2) {
        background-image: url("../images/slide/slide2.jpg"); }
      .slider #myCarousel .carousel-inner .item:nth-child(3) {
        background-image: url("../images/slide/slide3.jpg"); }
      .slider #myCarousel .carousel-inner .item .description {
        width: 40%;
        height: auto;
        display: inline-block;
        position: relative;
        color: #fff;
        padding: 0.5em;
        background-color: rgba(37, 165, 85, 0.8);
        top: 15.5em;
        left: 7%;
        padding: 1em; }
        .slider #myCarousel .carousel-inner .item .description h1 {
          margin: 0;
          padding: 0.1em 0;
          font-family: "Ubuntu", sans-serif;
          font-size: 3.5em;
          font-weight: 700;
          margin-bottom: 0.3em; }
        .slider #myCarousel .carousel-inner .item .description span {
          font-family: "Ubuntu", sans-serif;
          font-size: 1.2em;
          font-weight: 300;
          text-indent: 1em; }
    .slider #myCarousel .carousel-control {
      width: 9%; }

.main-content {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative; }
  .main-content .sect {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1%; }
  .main-content #products-icon {
    margin-top: 3em;
    text-align: center; }
    .main-content #products-icon h1:nth-child(1) {
      margin-bottom: 0.8em;
      font-family: "Ubuntu", sans-serif;
      font-size: 4em;
      font-weight: 700;
      color: #444; }
    .main-content #products-icon span {
      color: #444; }
    .main-content #products-icon a {
      color: #25a555;
      font-size: 1em;
      width: auto;
      height: auto;
      display: table;
      position: relative;
      margin: 4em auto;
      border: solid 1px #25a555;
      padding: 1em 2.5em;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      -o-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s; }
      .main-content #products-icon a:hover {
        color: #fff;
        background-color: #25a555; }
    .main-content #products-icon .items {
      width: 265px;
      height: auto;
      display: inline-block;
      position: relative;
      text-align: center;
      font-family: "Ubuntu", sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      margin: 1% 2%;
      vertical-align: top; }
      .main-content #products-icon .items h1 {
        padding: 0;
        margin: 0.5em 0;
        font-family: "Ubuntu", sans-serif;
        font-size: 2.1em;
        font-weight: 700; }
      .main-content #products-icon .items .icon {
        width: 120px;
        height: 120px;
        display: inline-block;
        position: relative;
        background-size: 120px; }
      .main-content #products-icon .items:nth-child(2) .icon {
        background-image: url("../images/icon-wellness.png"); }
      .main-content #products-icon .items:nth-child(3) .icon {
        background-image: url("../images/icon-beauty.png"); }
      .main-content #products-icon .items:nth-child(4) .icon {
        background-image: url("../images/icon-lopulent.png"); }
      .main-content #products-icon .items:nth-child(5) .icon {
        background-image: url("../images/icon-package.png"); }
  .main-content #intro {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center;
    background-image: url("../images/content2.jpg");
    background-attachment: fixed;
    background-size: contain;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    padding: 2em 3%; }
    .main-content #intro a {
      color: #fff;
      font-size: 1em;
      width: auto;
      height: auto;
      display: table;
      position: relative;
      font-family: "Ubuntu", sans-serif;
      font-size: 0.8em;
      font-weight: 300;
      margin: 2em auto;
      border: solid 1px #fff;
      padding: 1em 2.5em;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      -o-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s; }
      .main-content #intro a:hover {
        color: #fff;
        background-color: #25a555; }
  .main-content #why {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    text-align: center; }
    .main-content #why .items {
      width: 580px;
      height: auto;
      display: inline-block;
      position: relative;
      text-align: left;
      vertical-align: top;
      margin: 0 2%;
      padding: 2% 0; }
      .main-content #why .items h1 {
        padding: 0;
        font-family: "Ubuntu", sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #444; }
    .main-content #why h1 {
      font-family: "Ubuntu", sans-serif;
      font-size: 4em;
      font-weight: 700; }

.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  padding: 0;
  background-color: #25a555;
  color: #fff !important; }
  .footer .items {
    width: auto;
    height: auto;
    display: table;
    position: relative;
    margin: 1% auto; }
    .footer .items ul {
      width: auto;
      height: auto;
      display: table;
      position: relative;
      float: left;
      margin: 0 3em; }
      .footer .items ul li {
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
        .footer .items ul li hr {
          width: 3%;
          margin: 0; }
        .footer .items ul li a {
          color: #fff;
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 300; }
        .footer .items ul li h1 {
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 700; }
        .footer .items ul li .social-media-icon {
          width: 35px;
          height: 35px;
          background-size: 35px;
          display: block;
          background-color: #ddd;
          margin: 0.3em 0; }
          .footer .items ul li .social-media-icon span {
            display: block;
            margin-left: 40px;
            position: relative;
            top: 7px; }
        .footer .items ul li #smi1 {
          background-image: url("../images/fb.jpg"); }
        .footer .items ul li #smi2 {
          background-image: url("../images/tw.jpg"); }
        .footer .items ul li #smi3 {
          background-image: url("../images/gp.jpg"); }
  .footer .bottom-footer {
    margin-top: 1em;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    font-weight: 300; }
    .footer .bottom-footer a {
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 700;
      color: #fff; }

/*# sourceMappingURL=main.css.map */
