@import 'defaultsheet.sass'

$blue: #25a555
$black: #555

=default_style($width,$height,$display: inline-block,$position: relative)
	width: $width
	height: $height
	display: $display
	position: $position

=light($size: 1em)
	font-family: 'Ubuntu', sans-serif
	font-size: $size
	font-weight: 300

=regular($size: 1em)
	font-family: 'Ubuntu', sans-serif
	font-size: $size
	font-weight: 400

=bold($size: 1em)
	font-family: 'Ubuntu', sans-serif
	font-size: $size
	font-weight: 700	

=animation
	-webkit-transition: all .2s linear 0s
	-moz-transition: all .2s linear 0s
	-ms-transition: all .2s linear 0s
	-o-transition: all .2s linear 0s
	transition: all .2s linear 0s
body 
	.header
		z-index: 20 !important
		background-color: #fff

body,.container
	+default_style(100%,auto)
	margin: 0
	padding: 0

.main-content
	+default_style(100%,auto)
	z-index: -1 !important
	.founder
		+default_style(540px,686px)
		background-size: 200%
		background-position: 80%
		background-image: url('../images/founder.JPG')
		float: left		
		.description
			+default_style(100%,auto)
			background-color: rgba(37,165,85,.7)
			color: #fff
			padding: 3em 1em
			position: absolute
			bottom: 0
			
			h1
				+bold(3em)
				margin: 0
				padding: 0
			span
				+light(1.5em)
	.text
		+default_style(59%,auto)
		float: right
		z-index: 0
		h1
			+bold(3em)
			margin: .1em 0
		span
			+light(1em)
