@import url(reset.css);
body, .container {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.container {
  overflow-y: hidden; }

.header {
  width: 100%;
  height: 81px;
  display: inline-block;
  position: relative;
  border-bottom: solid 2px #25a555; }
  .header .menu {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: #ddd;
    z-index: 10;
    float: right; }
  .header #menuicon-container {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1em;
    float: right;
    margin-top: 1em;
    padding: 1em;
    margin-right: 2%;
    cursor: pointer;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    border: solid 1px transparent; }
    .header #menuicon-container:hover {
      border: solid 1px #25a555; }
    .header #menuicon-container:hover #menuicon {
      background-image: url("../images/menu1.png"); }
    .header #menuicon-container #menuicon {
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      position: relative;
      background-image: url("../images/menu.png");
      background-size: 1.5em;
      background-repeat: no-repeat;
      -webkit-transition: all 0.2s linear 0s;
      -moz-transition: all 0.2s linear 0s;
      -ms-transition: all 0.2s linear 0s;
      -o-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s; }
  .header ul {
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    float: right;
    right: 2%;
    margin: 0; }
    .header ul li {
      float: left;
      font-family: "Ubuntu", sans-serif;
      font-size: 0.9em;
      font-weight: 300;
      margin: 0; }
      @media screen and (max-width: 990px) {
        .header ul li {
          font-family: "Ubuntu", sans-serif;
          font-size: 0.9em;
          font-weight: 300; } }
      .header ul li a {
        padding: 2.6em 2.3em;
        display: block;
        color: #444;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
        border: solid 1px transparent; }
        .header ul li a:hover {
          color: #fff;
          border: solid 1px #25a555;
          background-color: #25a555;
          text-decoration: none; }
      .header ul li:nth-child(4) {
        height: 28px !important; }
    .header ul li#searchBarMargin {
      margin-top: 1.85em;
      margin-left: 15px;
      height: 28px;
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 300; }
      .header ul li#searchBarMargin form .input-group {
        width: 14em; }
        .header ul li#searchBarMargin form .input-group .form-control.search {
          width: 100%;
          height: 28px; }
  .header #logo {
    width: 163px;
    height: 65px;
    display: inline-block;
    position: relative;
    margin: 0.5em 0;
    float: left;
    background-image: url("../images/logo.png");
    background-size: 163px 65px;
    margin-left: 3%; }

.footer {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  padding: 0;
  background-color: #25a555;
  color: #fff !important; }
  .footer .items {
    width: auto;
    height: auto;
    display: table;
    position: relative;
    margin: 1% auto; }
    .footer .items ul {
      width: auto;
      height: auto;
      display: table;
      position: relative;
      float: left;
      margin: 0.2em 3em; }
      .footer .items ul li {
        font-family: "Ubuntu", sans-serif;
        font-size: 1em;
        font-weight: 300; }
        .footer .items ul li hr {
          width: 100%;
          margin: 0.5em 0; }
        .footer .items ul li a {
          color: #fff;
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 300; }
          .footer .items ul li a:hover {
            text-decoration: none; }
        .footer .items ul li h1 {
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 700;
          margin: 0; }
        .footer .items ul li .social-media-icon {
          width: 35px;
          height: 35px;
          background-size: 35px;
          display: block;
          background-color: #ddd;
          margin: 0.3em 0; }
          .footer .items ul li .social-media-icon span {
            display: block;
            margin-left: 40px;
            position: relative;
            top: 7px; }
        .footer .items ul li #smi1 {
          background-image: url("../images/fb.jpg"); }
        .footer .items ul li #smi2 {
          background-image: url("../images/tw.jpg"); }
        .footer .items ul li #smi3 {
          background-image: url("../images/gp.jpg"); }
  .footer .bottom-footer {
    margin-top: 1em;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    font-weight: 300; }
    .footer .bottom-footer a {
      font-family: "Ubuntu", sans-serif;
      font-size: 1em;
      font-weight: 700;
      color: #fff; }

.btn.btn-primary {
  background-color: #25a555;
  border-color: #1b793e; }
  .btn.btn-primary:hover {
    background-color: #1b793e; }

@media screen and (max-width: 1275px) and (min-width: 820px) {
  body .main-content {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative; }
    body .main-content .sidebar {
      width: 20%;
      height: auto;
      display: inline-block;
      position: relative;
      padding: 1%;
      float: left; }
      body .main-content .sidebar h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #25a555; }
      body .main-content .sidebar ul li a span {
        float: right; }
    body .main-content .products-container {
      width: 74%;
      height: auto;
      display: inline-block;
      position: relative;
      margin-left: 6%;
      float: left;
      margin-top: 6em !important;
      text-align: left; }
      body .main-content .products-container .categories {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative; }
        body .main-content .products-container .categories .items {
          width: 31.8%;
          height: auto;
          display: inline-block;
          position: relative;
          margin: 2% 0.5%;
          vertical-align: top;
          text-align: center;
          border: solid 1px #bbb;
          padding: 0.5em;
          padding-bottom: 0.5em;
          border-radius: 0.5em;
          box-shadow: 0 0 0.5em #ddd; }
          body .main-content .products-container .categories .items .img {
            width: 98.5%;
            height: 250px;
            display: inline-block;
            position: relative;
            border: solid 1px #bbb;
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: 53%; }
          body .main-content .products-container .categories .items h1 {
            margin: 0.5em auto;
            font-family: "Ubuntu", sans-serif;
            font-size: 1.2em;
            font-weight: 700;
            padding: 0;
            width: 90%; }
          body .main-content .products-container .categories .items span {
            font-size: 0.8em; }
          body .main-content .products-container .categories .items .price {
            margin-top: 0.5em;
            display: block;
            font-family: "Ubuntu", sans-serif;
            font-size: 1em;
            font-weight: 700; }
          body .main-content .products-container .categories .items .ratings {
            margin: 0.5em 0;
            width: 100%;
            height: auto;
            display: inline-block;
            position: relative;
            font-size: 1em;
            color: #25a555; }
            body .main-content .products-container .categories .items .ratings span {
              width: auto;
              height: auto;
              display: inline-block;
              position: relative; }
          body .main-content .products-container .categories .items button {
            width: 100%;
            margin: 0.2em 0; } }
@media screen and (max-width: 1150px) and (min-width: 820px) {
  body .main-content {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative; }
    body .main-content .sidebar {
      width: 20%;
      height: auto;
      display: inline-block;
      position: relative;
      padding: 1%;
      float: left; }
      body .main-content .sidebar h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #25a555; }
      body .main-content .sidebar ul li a span {
        float: right; }
    body .main-content .products-container {
      width: 74%;
      height: auto;
      display: inline-block;
      position: relative;
      margin-left: 6%;
      float: left;
      margin-top: 6em !important;
      text-align: left; }
      body .main-content .products-container .categories {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative; }
        body .main-content .products-container .categories .items {
          width: 47.7%;
          height: auto;
          display: inline-block;
          position: relative; }
          body .main-content .products-container .categories .items .img {
            width: 98.5%;
            height: 250px;
            display: inline-block;
            position: relative; } }
@media screen and (max-width: 820px) {
  body .main-content {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative; }
    body .main-content .sidebar {
      width: 20%;
      height: auto;
      display: inline-block;
      position: relative;
      padding: 1%;
      float: left; }
      body .main-content .sidebar h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #25a555; }
      body .main-content .sidebar ul li a span {
        float: right; }
    body .main-content .products-container {
      width: 74%;
      height: auto;
      display: inline-block;
      position: relative;
      margin-left: 6%;
      float: left;
      margin-top: 6em !important;
      text-align: left; }
      body .main-content .products-container .categories {
        width: 100%;
        height: auto;
        display: inline-block;
        position: relative; }
        body .main-content .products-container .categories .items {
          width: 97%;
          height: auto;
          display: inline-block;
          position: relative; }
          body .main-content .products-container .categories .items .img {
            width: 98.5%;
            height: 250px;
            display: inline-block;
            position: relative;
            background-position: 50%; } }
.modal-dialog {
  width: 70%;
  text-align: center; }

.imageInsideModal {
  width: 250px;
  height: 250px;
  display: inline-block;
  position: relative;
  margin: 0 auto; }

.modal-footer {
  clear: both; }

#fullDetails .modal-dialog .modal-content .modal-body .description {
  text-align: left !important;
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative; }
  #fullDetails .modal-dialog .modal-content .modal-body .description .nameAndProduct h1 {
    margin: 0; }
  #fullDetails .modal-dialog .modal-content .modal-body .description .nameAndProduct .productName {
    float: left;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: 700; }
  #fullDetails .modal-dialog .modal-content .modal-body .description .nameAndProduct .price {
    float: right;
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: 400; }
  #fullDetails .modal-dialog .modal-content .modal-body .description .productDescription {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    font-weight: 400; }

.main-content {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative; }
  .main-content .sidebar {
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 1%;
    float: left; }
    .main-content .sidebar h1 {
      font-family: "Ubuntu", sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: #25a555; }
    .main-content .sidebar #category {
      margin: 0; }
    .main-content .sidebar ul li a span {
      float: right; }
  .main-content .products-container {
    width: 74%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-left: 1%;
    float: left;
    margin-top: 6em !important;
    text-align: left; }
    .main-content .products-container .categories {
      width: 100%;
      height: auto;
      display: inline-block;
      position: relative; }
      .main-content .products-container .categories .items {
        width: 270px;
        height: auto;
        display: inline-block;
        position: relative;
        margin: 2% 2%;
        vertical-align: top;
        text-align: center;
        border: solid 1px #bbb;
        padding: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.5em;
        box-shadow: 0 0 0.5em #ddd; }
        .main-content .products-container .categories .items .img {
          width: 250px;
          height: 250px;
          display: inline-block;
          position: relative;
          border: solid 1px #bbb;
          background-size: 200px;
          background-repeat: no-repeat;
          background-position: 30px;
          background-color: #fff; }
        .main-content .products-container .categories .items h1 {
          margin: 0.5em auto;
          font-family: "Ubuntu", sans-serif;
          font-size: 1.2em;
          font-weight: 700;
          padding: 0;
          width: 90%; }
        .main-content .products-container .categories .items span {
          font-size: 0.8em; }
        .main-content .products-container .categories .items .price {
          margin-top: 0.5em;
          display: block;
          font-family: "Ubuntu", sans-serif;
          font-size: 1em;
          font-weight: 700; }
        .main-content .products-container .categories .items .ratings {
          margin: 0.5em 0;
          width: 100%;
          height: auto;
          display: inline-block;
          position: relative;
          font-size: 1em;
          color: #25a555; }
          .main-content .products-container .categories .items .ratings span {
            width: auto;
            height: auto;
            display: inline-block;
            position: relative; }
        .main-content .products-container .categories .items button {
          width: 100%;
          margin: 0.2em 0; }
    .main-content .products-container #wellness .items:nth-child(1) .img {
      background-image: url("../images/royale/wellness/diabetwatch.png"); }
    .main-content .products-container #wellness .items:nth-child(2) .img {
      background-image: url("../images/royale/wellness/fiberich.png"); }
    .main-content .products-container #wellness .items:nth-child(3) .img {
      background-image: url("../images/royale/wellness/fitshape.png"); }
    .main-content .products-container #wellness .items:nth-child(4) .img {
      background-image: url("../images/royale/wellness/grapeseed.png"); }
    .main-content .products-container #wellness .items:nth-child(5) .img {
      background-image: url("../images/royale/wellness/L-Gluta700.png"); }
    .main-content .products-container #wellness .items:nth-child(6) .img {
      background-image: url("../images/royale/wellness/L-GlutaPower.png"); }
    .main-content .products-container #wellness .items:nth-child(7) .img {
      background-image: url("../images/royale/wellness/pinkishglow.png"); }
    .main-content .products-container #wellness .items:nth-child(8) .img {
      background-image: url("../images/royale/wellness/riqall.png"); }
    .main-content .products-container #wellness .items:nth-child(9) .img {
      background-image: url("../images/royale/wellness/royale-c.png"); }
    .main-content .products-container #wellness .items:nth-child(10) .img {
      background-image: url("../images/royale/wellness/chocoall.png"); }
    .main-content .products-container #wellness .items:nth-child(11) .img {
      background-image: url("../images/royale/wellness/coffee_lite.png"); }
    .main-content .products-container #wellness .items:nth-child(12) .img {
      background-image: url("../images/royale/wellness/coffee_reg.png"); }
    .main-content .products-container #wellness .items:nth-child(13) .img {
      background-image: url("../images/royale/wellness/royalblendroastedcorn.png"); }
    .main-content .products-container #wellness .items:nth-child(14) .img {
      background-image: url("../images/royale/wellness/richarge.png"); }
    .main-content .products-container #beauty .items:nth-child(1) .img {
      background-image: url("../images/royale/beauty/glutaLIGHTENINGlotion.png"); }
    .main-content .products-container #beauty .items:nth-child(2) .img {
      background-image: url("../images/royale/beauty/glutaPOWERantiAGEINGsoap.png"); }
    .main-content .products-container #beauty .items:nth-child(3) .img {
      background-image: url("../images/royale/beauty/glutaWHITENINGcream.png"); }
    .main-content .products-container #beauty .items:nth-child(4) .img {
      background-image: url("../images/royale/beauty/kojicpapayasoap.png"); }
    .main-content .products-container #beauty .items:nth-child(5) .img {
      background-image: url("../images/royale/beauty/L-Glutapowerlinecorrectorcream.png"); }
    .main-content .products-container #beauty .items:nth-child(6) .img {
      background-image: url("../images/royale/beauty/L-Glutapowersoap.png"); }
    .main-content .products-container #beauty .items:nth-child(7) .img {
      background-image: url("../images/royale/beauty/pinkishglowbrightening.png"); }
    .main-content .products-container #beauty .items:nth-child(8) .img {
      background-image: url("../images/royale/beauty/pinkishglowtoner.png"); }
    .main-content .products-container #beauty .items:nth-child(9) .img {
      background-image: url("../images/royale/beauty/royalebeautylipstick.png"); }
    .main-content .products-container #lopulent .items:nth-child(1) .img {
      background-image: url("../images/royale/lopulent/glutadeo.png"); }
    .main-content .products-container #lopulent .items:nth-child(2) .img {
      background-image: url("../images/royale/lopulent/jeune.png");
      background-size: 88px 228px;
      background-position: 80px 10px; }
    .main-content .products-container #lopulent .items:nth-child(3) .img {
      background-image: url("../images/royale/lopulent/lumiere.png");
      background-size: 88px 228px;
      background-position: 80px 10px; }
    .main-content .products-container #lopulent .items:nth-child(4) .img {
      background-image: url("../images/royale/lopulent/meilleur.png");
      background-size: 88px 228px;
      background-position: 80px 10px; }
    .main-content .products-container #lopulent .items:nth-child(5) .img {
      background-image: url("../images/royale/lopulent/rejuv.png");
      background-size: 88px 228px;
      background-position: 80px 10px; }
    .main-content .products-container #package .items:nth-child(1) .img {
      background-image: url("../images/royale/package/option1.png"); }
    .main-content .products-container #package .items:nth-child(2) .img {
      background-image: url("../images/royale/package/option2.png"); }
    .main-content .products-container #package .items:nth-child(3) .img {
      background-image: url("../images/royale/package/option3.png"); }
    .main-content .products-container #package .items:nth-child(4) .img {
      background-image: url("../images/royale/package/option4.png"); }
    .main-content .products-container #package .items:nth-child(5) .img {
      background-image: url("../images/royale/package/option5.png"); }
    .main-content .products-container #package .items:nth-child(6) .img {
      background-image: url("../images/royale/package/optiona.jpg"); }
    .main-content .products-container #package .items:nth-child(7) .img {
      background-image: url("../images/royale/package/optionb.jpg"); }
    .main-content .products-container #package .items:nth-child(8) .img {
      background-image: url("../images/royale/package/optiond.jpg"); }
    .main-content .products-container #package .items:nth-child(9) .img {
      background-image: url("../images/royale/package/optione.jpg"); }

/*# sourceMappingURL=products.css.map */
