@import 'defaultsheet.sass'

.btn.btn-primary
	background-color: #25a555
	border-color: #1b793e
	&:hover
		background-color: #1b793e	


@media screen and (max-width: 1275px) and (min-width: 820px)
	body
		.main-content
			+default_style(100%,auto)
			.sidebar
				+default_style(20%,auto)
				padding: 1%
				float: left
				h1
					+bold(2em)
					color: $blue
				ul
					li
						a
							span
								float: right
			.products-container
				+default_style(74%,auto)
				margin-left: 6%
				float: left
				// background-color: #eee
				margin-top: 6em !important
				text-align: left
				.categories
					+default_style(100%,auto)	
					.items
						+default_style(31.8%,auto)
						// background-color: #ddd
						margin: 2% .5%
						vertical-align: top
						text-align: center
						border: solid 1px #bbb
						padding: .5em
						padding-bottom: .5em
						border-radius: .5em
						box-shadow: 0 0 .5em #ddd	
						.img
							+default_style(98.5%,250px)
							border: solid 1px #bbb
							background-size: 200px
							background-repeat: no-repeat
							background-position: 53%
						h1
							margin: .5em auto
							+bold(1.2em)
							padding: 0
							width: 90%
						span
							font-size: .8em
						.price
							margin-top: .5em
							display: block
							+bold(1em)	
								
						.ratings
							margin: .5em 0
							+default_style(100%,auto)
							font-size: 1em
							color: $blue
							span
								+default_style(auto,auto)
						button
							width: 100%
							margin: .2em 0
@media screen and (max-width: 1150px) and (min-width: 820px)
	body
		.main-content
			+default_style(100%,auto)
			.sidebar
				+default_style(20%,auto)
				padding: 1%
				float: left
				h1
					+bold(2em)
					color: $blue
				ul
					li
						a
							span
								float: right
			.products-container
				+default_style(74%,auto)
				margin-left: 6%
				float: left
				// background-color: #eee
				margin-top: 6em !important
				text-align: left
				.categories
					+default_style(100%,auto)	
					.items
						+default_style(47.7%,auto)
						.img
							+default_style(98.5%,250px)
							


@media screen and (max-width: 820px) 
	body
		.main-content
			+default_style(100%,auto)
			.sidebar
				+default_style(20%,auto)
				padding: 1%
				float: left
				h1
					+bold(2em)
					color: $blue
				ul
					li
						a
							span
								float: right
			.products-container
				+default_style(74%,auto)
				margin-left: 6%
				float: left
				// background-color: #eee
				margin-top: 6em !important
				text-align: left
				.categories
					+default_style(100%,auto)	
					.items
						+default_style(97%,auto)
						.img
							+default_style(98.5%,250px)		
							background-position: 50%				

.main-content
	+default_style(100%,auto)
	.sidebar
		+default_style(25%,auto)
		padding: 1%
		float: left
		h1
			+bold(2em)
			color: $blue
		ul
			li
				a
					span
						float: right
	.products-container
		+default_style(74%,auto)
		margin-left: 1%
		float: left
		// background-color: #eee
		margin-top: 6em !important
		text-align: left
		.categories
			+default_style(100%,auto)	
			.items
				+default_style(270px,auto)
				// background-color: #ddd
				margin: 2% 2%
				vertical-align: top
				text-align: center
				border: solid 1px #bbb
				padding: .5em
				padding-bottom: .5em
				border-radius: .5em
				box-shadow: 0 0 .5em #ddd	
				.img
					+default_style(250px,250px)
					border: solid 1px #bbb
					background-size: 200px
					background-repeat: no-repeat
					background-position: 30px
					background-color: #fff
				h1
					margin: .5em auto
					+bold(1.2em)
					padding: 0
					width: 90%
				span
					font-size: .8em
				.price
					margin-top: .5em
					display: block
					+bold(1em)	
						
				.ratings
					margin: .5em 0
					+default_style(100%,auto)
					font-size: 1em
					color: $blue
					span
						+default_style(auto,auto)
				button
					width: 100%
					margin: .2em 0

		#wellness
			// display: none
			.items
				&:nth-child(1)
					.img
						background-image: url('../images/royale/wellness/diabetwatch.png')
				&:nth-child(2)
					.img
						background-image: url('../images/royale/wellness/fiberich.png')
				&:nth-child(3)
					.img
						background-image: url('../images/royale/wellness/fitshape.png')
				&:nth-child(4)
					.img
						background-image: url('../images/royale/wellness/grapeseed.png')
				&:nth-child(5)
					.img
						background-image: url('../images/royale/wellness/L-Gluta700.png')
				&:nth-child(6)
					.img
						background-image: url('../images/royale/wellness/L-GlutaPower.png')
				&:nth-child(7)
					.img
						background-image: url('../images/royale/wellness/pinkishglow.png')
				&:nth-child(8)
					.img
						background-image: url('../images/royale/wellness/riqall.png')
				&:nth-child(9)
					.img
						background-image: url('../images/royale/wellness/royale-c.png')
				&:nth-child(10)
					.img
						background-image: url('../images/royale/wellness/chocoall.png')
				&:nth-child(11)
					.img
						background-image: url('../images/royale/wellness/coffee_lite.png')
				&:nth-child(12)
					.img
						background-image: url('../images/royale/wellness/coffee_reg.png')
				&:nth-child(13)
					.img
						background-image: url('../images/royale/wellness/royalblendroastedcorn.png')
				&:nth-child(14)
					.img
						background-image: url('../images/royale/wellness/richarge.png')	
		#beauty
			.items
				&:nth-child(1)
					.img
						background-image: url('../images/royale/beauty/glutaLIGHTENINGlotion.png')
				&:nth-child(2)
					.img
						background-image: url('../images/royale/beauty/glutaPOWERantiAGEINGsoap.png')
				&:nth-child(3)
					.img
						background-image: url('../images/royale/beauty/glutaWHITENINGcream.png')
				&:nth-child(4)
					.img
						background-image: url('../images/royale/beauty/kojicpapayasoap.png')
				&:nth-child(5)
					.img
						background-image: url('../images/royale/beauty/L-Glutapowerlinecorrectorcream.png')
				&:nth-child(6)
					.img
						background-image: url('../images/royale/beauty/L-Glutapowersoap.png')
				&:nth-child(7)
					.img
						background-image: url('../images/royale/beauty/pinkishglowbrightening.png')
				&:nth-child(8)
					.img
						background-image: url('../images/royale/beauty/pinkishglowtoner.png')
				&:nth-child(9)
					.img
						background-image: url('../images/royale/beauty/royalebeautylipstick.png')
		#lopulent
			.items
				&:nth-child(1)
					.img
						background-image: url('../images/royale/lopulent/glutadeo.png')
				&:nth-child(2)
					.img
						background-image: url('../images/royale/lopulent/jeune.png')
						background-size: 88px 228px
						background-position: 80px 10px
				&:nth-child(3)
					.img
						background-image: url('../images/royale/lopulent/lumiere.png')
						background-size: 88px 228px
						background-position: 80px 10px
				&:nth-child(4)
					.img
						background-image: url('../images/royale/lopulent/meilleur.png')
						background-size: 88px 228px
						background-position: 80px 10px
				&:nth-child(5)
					.img		
						background-image: url('../images/royale/lopulent/rejuv.png')
						background-size: 88px 228px
						background-position: 80px 10px
		#package
			.items
				&:nth-child(1)
					.img
						background-image: url('../images/royale/package/option1.png')	
				&:nth-child(2)
					.img
						background-image: url('../images/royale/package/option2.png')	
				&:nth-child(3)
					.img
						background-image: url('../images/royale/package/option3.png')	
				&:nth-child(4)
					.img
						background-image: url('../images/royale/package/option4.png')	
				&:nth-child(5)
					.img
						background-image: url('../images/royale/package/option5.png')	
				&:nth-child(6)
					.img
						background-image: url('../images/royale/package/optiona.jpg')	
				&:nth-child(7)
					.img
						background-image: url('../images/royale/package/optionb.jpg')	
				&:nth-child(8)
					.img
						background-image: url('../images/royale/package/optiond.jpg')	
				&:nth-child(9)
					.img
						background-image: url('../images/royale/package/optione.jpg')	


						







				